.map-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.map-controls-container {
    position: relative;
    /* Keeps it below the map */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: semi-transparent background */
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    /* Add some space between the map and the controls */
}

.map-button-container {
    margin-bottom: 10px;
}

/* Style for the buttons */
.map-route-button,
.map-details-button {
    background-color: #0cf;
    /* Set button background color to #0cf */
    color: white;
    /* White text */
    padding: 10px 20px;
    /* Add padding to make the button larger */
    border: none;
    /* Remove default border */
    border-radius: 30px;
    /* Make buttons rounder */
    font-size: 16px;
    /* Increase font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: all 0.3s ease;
    /* Smooth transition on hover */
    width: auto;
}

.map-route-button:hover,
.map-details-button:hover {
    background-color: #09b;
    /* Darker shade of cyan for hover effect */
    transform: scale(1.05);
    /* Slightly increase button size on hover */
}

.map-travel-mode-selector,
.map-route-details-box {
    margin-top: 10px;
}