
.carousel-item {
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Change to desired color */
    border-radius: 50%; /* Optional: Makes the arrows circular */
}



.carousel-control-prev {
    left: -3rem !important; /* Move closer to the left */
}

.carousel-control-next {
    right: -3rem !important; /* Move closer to the right */
}



@media screen and (max-width: 768px) {
  .carousel-item {
    height: 400px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
  }

  .carousel-control-prev {
    left: 0 !important; /* Move closer to the left */
}

.carousel-control-next {
    right: 0 !important; /* Move closer to the right */
}
}