@import url('https://fonts.cdnfonts.com/css/genty-demo');

body {
  font-family: 'Poppins', sans-serif !important;
}

.chat-container {
  position: relative; /* Create a context for sticky positioning */
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the container spans the full height */
  overflow: hidden;
}

.cs-conversation-header, .cs-conversation-header__info, .cs-conversation-header__user-name {
  background-color: #ff986c !important; /* Replace with your desired color */
  color: white !important; /* Optional: Adjust text color for better visibility */

}


.cs-conversation-header__user-name {
  font-family: 'Genty Demo', sans-serif;
  text-shadow: 2px 2px 5px gray;
  font-size:larger;
}

.cs-conversation-header__info {
  color: #24265d !important;
  margin: -1px !important;
}

.cs-message__content {
  background-color: #1087cf !important;
  font-family: 'Poppins', sans-serif !important;
}

.cs-message__html-content {
  background-color: #1087cf !important;
  color: white !important;
}

.cs-message-input {
  background-color: #ff986c !important;
}

.cs-button--attachment {
  color: #ff986c  !important;
}

.cs-button--send {
  color:#1087cf !important;
  opacity: 1 !important;
}

.cs-message-list {
  background-color: #d8dbd4 !important;
}

.cs-message-input__content-editor-wrapper, .cs-message-input__content-editor {
  font-family: 'Poppins', sans-serif !important;
  background-color: #fff !important;
  color: #acadab !important;
  font-weight: none !important;
  font-size:small;
}

.cs-typing-indicator {
  background-color: #d8dbd4 !important;
  color: #1087cf !important;
}



.create-button, .view-itinerary-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
  }
  
  .create-button:after, .view-itinerary-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 2rem;
    z-index: -2;
  }
  
  .create-button:before, .view-itinerary-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 2rem;
    z-index: -1;
  }
  
  .create-button:hover, .view-itinerary-button:hover {
    color: #fff;
  }
  
  .create-button:hover:before, .view-itinerary-button:hover:before {
    width: 100%;
  }
  
  /* Disabled Button */
  .create-button:disabled, .view-itinerary-button:disabled {
    background-color: #cccccc !important; /* Disabled background */
    color: #cccccc; /* Disabled text color */
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none; /* Remove any shadow effect */
    transition: none; /* Disable transitions */
  }
  
  /* Style pseudo-elements when button is disabled */
  .create-button:disabled:after, .view-itinerary-button:disabled:after {
    background-color: #666666; /* Disabled background for after */
  }
  
  .create-button:disabled:before , .view-itinerary-button:disabled:before {
    background-color: #666666; /* Disabled background for before */
  }
  
  /* Prevent hover effect when disabled */
  .create-button:disabled:hover:before, .view-itinerary-button:disabled:hover:before {
    width: 0%; /* Reset to initial state */
  }
  
  .create-button:disabled:hover, .view-itinerary-button:disabled:hover {
    background-color: #cccccc; /* Keep disabled background */
    transition: none;
  }

  .chatbox-button-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    

  }
  
  


