.dayCard-container {
  width: 15rem;
  height: 8rem;
  background-color: #ff986c;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Apply shadow */
}

.dayCard-left {
  padding: 1rem;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Align items to the left */
}

.dayCard-left .text-container p {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove any default padding */
}


.dayCard-left .text-container {
  text-align: center;
}



.dayCard-right {
  padding: 1rem;
  width: 50%;
  height: 100%;
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;

}

.day-title {
	font-weight: bolder;
  font-size: x-large;
  color: white;
  text-shadow: 1px 1px 3px black !important;
}

.preview-detail {
	font-size: small;
  font-weight: 500;
  color: #2c3892;
}


.dayCard-button-container {
  margin-top: 0.5rem;
	width: 80%;
}

.dayCard-button {
	border: none;
	border-radius: 1px;
	width: 100%;
	border: 1px solid black;
  margin: 0;
  padding: 0;
  
}

.dayCard-button:hover {
	background-color: aliceblue;
}

